.nd {
    width: 1100px;
    height: 250px;
    background-color: #d6b5b5;
    border: 2px dashed black;
    background-position: center;
    padding-left: 10px;
    box-sizing: border-box;
    margin: 0 auto;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
